{% load static %}
{% load staticfiles %}
<HTML>
    <head>
        <title>Ollie Onboarding</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
        <link rel='stylesheet' href="{% static 'css/ollie.css' %}">
    </head>
    <body>
        <section class="container">
            <div class="row">
                <div><h4>Ollie Onboarding Questionnaire</h4></div>
                <div>
                    <form id="onboarding_form" method="post" novalidate>{% csrf_token %}
                        <p>{{ form.username.label }}: {{ form.username }}</p>
                        <p>{{ form.email.label }}: {{ form.email }}</p>
                        <p>{{ form.zip_code.label }}: {{ form.zip_code }}</p>
                        <p>{{ form.pet.dog_name.label }}: {{ form.pet.dog_name }}</p>
                        <p>{{ form.pet.lineage.label }}: {{ form.pet.lineage }}</p>
                        <p>{{ form.pet.primary_breed.label }}: {{ form.pet.primary_breed }}<p>
                        <p>{{ form.pet.secondary_breed.label }}: {{ form.pet.secondary_breed }}</p>
                        <p>{{ form.pet.sex.label }}: {{ form.pet.sex }}</p>
                        <p>{{ form.pet.sterilized }} {{ form.pet.sterilized.label }}</p>
                        <p>{{ form.pet.birth_month.label }}: {{ form.pet.birth_month }}</p>
                        <p>{{ form.pet.birth_year.label }}: {{ form.pet.birth_year }}</p>
                        <p>{{ form.pet.activity_level.label }}: {{ form.pet.activity_level }}</p>
                        <p>{{ form.pet.weight.label }}: {{ form.pet.weight }}</p>
                        <p>{{ form.pet.body_type.label }}: {{ form.pet.body_type }}</p>
                        <p>{{ form.pet.allergies.label }}: {{ form.pet.allergies}}</p>
                        <p>{{ form.pet.primary_protein.label }}: {{ form.pet.primary_protein }}</p>
                        <p>Your pup usually eats (Check all that apply):</p>
                        <p>{{ form.pet.dry_food }} {{ form.pet.dry_food.label }} {{ form.pet.wet_food }} {{ form.pet.wet_food.label }} {{ form.pet.raw_food }} {{ form.pet.raw_food.label }}</p>
                        <p>{{ form.pet.freeze_dried_food }} {{ form.pet.freeze_dried_food.label }} {{ form.pet.home_cooked_food }} {{ form.pet.home_cooked_food.label }} {{ form.pet.fresh_food }} {{ form.pet.fresh_food.label }}</p>
                        <p><button form="onboarding_form" type='submit' class='btn btn-primary'>Sign Up</button></p>
                    </form>
                </div>
            </div>
        </section>
    </body>
</HTML>
